body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.signin-link, .main-page-link {
    color: #FF4081;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.4s;
}

.signin-link:hover, .main-page-link:hover {
    color: #3f51b5;
}

.container {
    margin: 0 auto;
    text-align: center;
    width: 750px;
}

.pagination {
    padding-left: 15px;
    padding-right: 15px;
    width: 600px;
    margin: 20px auto;
    height: 50px;
}

.logout-link{
    text-decoration: none;
    color: white;
    line-height: 44px;
}

.pagination li {
    border: 1px solid gray;
    display: block;
    text-align: center;
    float: left;
    border-radius: 5px;
    margin: 0 5px;
    cursor: pointer;
}

.pagination a{
    outline: none !important;
    width: 20px;
    padding: 5px;
    height: 20px;
    display: block;
}

.pagination .active {
    background-color: rgb(0, 188, 212);
    color:white;
}

.login-button, .signup-button{
    margin-bottom: 15px;
}

.pagination .break {
    border: none;
    cursor: default;
}

.field-line, .button-line {
    padding: 16px;
}
